<div class="container mt-4">
  <h2>{{ employeeForm.value.id ? "Edit Employee" : "Add New Employee" }}</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="Enter name"
      />
      <div
        *ngIf="
          employeeForm.get('name')!.invalid && employeeForm.get('name')!.touched
        "
        class="text-danger"
      >
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="Enter email"
      />
      <div
        *ngIf="
          employeeForm.get('email')!.invalid &&
          employeeForm.get('email')!.touched
        "
        class="text-danger"
      >
        Enter a valid email.
      </div>
    </div>

    <div class="form-group">
      <label for="position">Position</label>
      <input
        id="position"
        formControlName="position"
        class="form-control"
        placeholder="Enter position"
      />
      <div
        *ngIf="
          employeeForm.get('position')!.invalid &&
          employeeForm.get('position')!.touched
        "
        class="text-danger"
      >
        Position is required.
      </div>
    </div>

    <div class="form-group">
      <label for="salary">Salary</label>
      <input
        id="salary"
        type="number"
        formControlName="salary"
        class="form-control"
        placeholder="Enter salary"
      />
      <div
        *ngIf="
          employeeForm.get('salary')!.invalid &&
          employeeForm.get('salary')!.touched
        "
        class="text-danger"
      >
        Salary is required and must be a positive number.
      </div>
    </div>

    <div class="form-group">
      <label for="departmentId">Department ID</label>
      <input
        id="departmentId"
        formControlName="departmentId"
        class="form-control"
        placeholder="Enter department ID"
      />
      <div
        *ngIf="
          employeeForm.get('departmentId')!.invalid &&
          employeeForm.get('departmentId')!.touched
        "
        class="text-danger"
      >
        Department ID is required.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="employeeForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
